<!DOCTYPE html>
<html>
  <head>
    <title>MemoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="notification">
      <div class="notice"><%= flash[:notice] %></div>
      <div class="alert"><%= flash[:alert] %></div>
      <div class="delete"><%= flash[:delete] %></div>
    </div>
    <div class="header">
      <%= link_to 'Memo app', root_path %>
      <%= link_to '新規投稿', new_memo_path %>
    </div>
    <%= yield %>
  </body>
</html>
